$colors: (black: #0a0a0a,
  darkergray: #161616,
  darkgray: #222222,
  gray: #5a5a5a,
  lightgray: #8c8c8c,
  lightergray: #bfbfbf,
  white: #fff,
  yellow: #ffd352
);


@each $name,
$hex in $colors {
  .bg-#{$name} {
    background-color: $hex;
  }

  .c-#{$name} {
    color: $hex;
  }
}
