.no-scroll { /* ...or body.dialogShowing */
  overflow: hidden;
} 

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flx-jstfy-start {
      justify-content: flex-start !important;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-14 {
  margin-bottom: 14rem;
}

.l-mb-10 {
  @include respond(tab-large) {
    margin-bottom: 12rem;
  }
}

.ta-c {
  text-align: center;
}