.cmp-three,
.cmp-two-one {
  position: relative;

  @include respond(tab-large) {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  &:last-of-type {
    margin-bottom: 5rem;
  }
}

.cmp-pricelist {
  position: relative;
  border-top: solid .1rem #fff;
  border-left: solid .1rem #fff;

  &--bottom {
    @include respond(tab-large) {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
    }
  }

  &__row {
    display: flex;
    margin: 0 -.15rem;
  }

  &__col {
    flex: 1;
    padding: 0.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid .1rem #fff;
    border-right: solid .1rem #fff;
    border-top: solid .1rem #fff;
    border-bottom: solid .1rem #fff;
    @include font-size(xs);

    &:first-of-type {
      background-color: #000;
      // @include font-size(xxs);
    }

  }
}

.cmp-col {
  position: relative;
 

  @include max-width(tab-large) {
    margin-bottom: 1rem;
  }

  @include respond(tab-large) {
    flex: 1;
    @include borders;
  }

  &__wrapper {
    padding: 2rem;

    @include respond(tab-large) {
      padding: 1.25rem;
    }
  }

  &-x2 {
    @include respond(tab-large) {
      flex: 2;
    }
  }

  &-void {
    @include max-width(tab-large) {
      display: none;
    }
  }

  &-2col {
    @include respond(tab-large) {
      column-count: 2;
      column-gap: 2rem;
    }


    &:after {
      @include respond(tab-large) {
        position: absolute;
        content: ' ';
        display: block;
        left: 50%;
        top: 0;
        height: 100%;
        width: 4px;
        background-color: #fff;
      }

    }
  }

  img {
    display: block;
    max-width: 100%;

    @include max-width(tab-large) {
      margin-bottom: 2rem;
    }

  }

  h1 {
     @include font-size(l);

    span {
      display: block;
    }

    &.v-white {
       &:before,
       &:after {
         background-color: #fff;
       }
    }

    &:before,
    &:after {
      display: block;
      width: 100%;
      height: 3px;
      background: #000;
      content: " ";

      @include respond(tab-large) {
        height: 4px;
      }
    }

    &:before {
      margin-bottom: 1rem;
      @include respond(tab-large) {
        margin-bottom: .5rem;
      }
    }

    &:after {
      margin-top: 0.8rem;
      margin-bottom: 2.5rem;
    }
  }

  h2 {
    @include font-size(m);
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2.5rem;
    line-height: 1.5;
     @include font-size(s);
  }

}


.cmp-two-one {}
